<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
    {%for character in characters%}
        <li>
            Nome: {{character.nome}}<br>
            Afiliação: {{character.afiliacao}} <br>
            Aliados: {{character.aliados}} <br>
            Inimigos: {{character.inimigos}} <br> <br>

        </li>    
    {% endfor %}
    </ul>
    
</body>
</html>